<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Axes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Weight</string>
			<key>Tag</key>
			<string>wght</string>
		</dict>
	</array>
	<key>Disable Last Change</key>
	<integer>1</integer>
	<key>ascender</key>
	<integer>739</integer>
	<key>blueScale</key>
	<real>0.0625</real>
	<key>capHeight</key>
	<integer>694</integer>
	<key>copyright</key>
	<string>Copyright (c) 2009--2017 The Cantarell Authors</string>
	<key>descender</key>
	<integer>-217</integer>
	<key>familyName</key>
	<string>Cantarell_Sketch1</string>
	<key>openTypeHeadCreated</key>
	<string>2009/03/13 22:44:13</string>
	<key>openTypeNameDesigner</key>
	<string>Dave Crossland, Nikolaus Waxweiler, Jacques Le Bailly, Eben Sorkin, Alexei Vanyashin</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://abattis.org</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://abattis.org</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Cantarell_Sketch1</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Thin</string>
	<key>openTypeOS2WeightClass</key>
	<integer>250</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>5</integer>
		<integer>3</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>482</integer>
		<integer>492</integer>
		<integer>694</integer>
		<integer>704</integer>
		<integer>739</integer>
		<integer>749</integer>
	</array>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-10</integer>
		<integer>0</integer>
		<integer>482</integer>
		<integer>492</integer>
		<integer>694</integer>
		<integer>704</integer>
		<integer>739</integer>
		<integer>749</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-229</integer>
		<integer>-217</integer>
	</array>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-227</integer>
		<integer>-217</integer>
	</array>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>80</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>70</integer>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>vendorID</key>
	<string>ABAT</string>
	<key>versionMajor</key>
	<integer>0</integer>
	<key>versionMinor</key>
	<integer>101</integer>
	<key>xHeight</key>
	<integer>482</integer>
</dict>
</plist>
