<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>0B2E441B-685E-400D-9B9B-E078DEED62EF</key>
		<dict>
			<key>HH</key>
			<integer>19</integer>
			<key>HV</key>
			<integer>22</integer>
			<key>OH</key>
			<integer>19</integer>
			<key>OV</key>
			<integer>22</integer>
			<key>nV</key>
			<integer>21</integer>
			<key>nd</key>
			<integer>14</integer>
			<key>oH</key>
			<integer>18</integer>
			<key>oV</key>
			<integer>21</integer>
			<key>tH</key>
			<integer>17</integer>
		</dict>
		<key>51C2DFEF-3776-4D13-9284-96485B799B57</key>
		<dict>
			<key>HH</key>
			<integer>156</integer>
			<key>HV</key>
			<integer>176</integer>
			<key>OH</key>
			<integer>150</integer>
			<key>OV</key>
			<integer>180</integer>
			<key>nV</key>
			<integer>173</integer>
			<key>nd</key>
			<integer>125</integer>
			<key>oH</key>
			<integer>144</integer>
			<key>oV</key>
			<integer>176</integer>
			<key>tH</key>
			<integer>135</integer>
		</dict>
		<key>F333AEC5-BB61-4D5E-9EDD-6124322D28F2</key>
		<dict>
			<key>HH</key>
			<integer>72</integer>
			<key>HV</key>
			<integer>83</integer>
			<key>OH</key>
			<integer>73</integer>
			<key>OV</key>
			<integer>85</integer>
			<key>nV</key>
			<integer>80</integer>
			<key>nd</key>
			<integer>55</integer>
			<key>oH</key>
			<integer>70</integer>
			<key>oV</key>
			<integer>80</integer>
			<key>tH</key>
			<integer>67</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSOffsetHorizontal</key>
		<string>-16</string>
		<key>GSOffsetProportional</key>
		<integer>1</integer>
		<key>GSOffsetVertical</key>
		<integer>10</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>0B2E441B-685E-400D-9B9B-E078DEED62EF</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>com.schriftgestaltung.weightValue</key>
	<real>20</real>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acaron</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>AEacute</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccedillaacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>DZcaron</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Ddotbelow</string>
		<string>Dlinebelow</string>
		<string>Dzcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecedillabreve</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Emacronacute</string>
		<string>Emacrongrave</string>
		<string>Eogonek</string>
		<string>Etilde</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Gmacron</string>
		<string>H</string>
		<string>Hbar</string>
		<string>Hbrevebelow</string>
		<string>Hcircumflex</string>
		<string>Hdotbelow</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icaron</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idieresisacute</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>LJ</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Ldotbelow</string>
		<string>Lj</string>
		<string>Llinebelow</string>
		<string>Lslash</string>
		<string>M</string>
		<string>Mdotbelow</string>
		<string>N</string>
		<string>NJ</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ndotaccent</string>
		<string>Ndotbelow</string>
		<string>Eng</string>
		<string>Nj</string>
		<string>Nlinebelow</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocaron</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>uni022A</string>
		<string>uni0230</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Omacronacute</string>
		<string>Omacrongrave</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildeacute</string>
		<string>Otildedieresis</string>
		<string>uni022C</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Rdotbelow</string>
		<string>Rinvertedbreve</string>
		<string>Rlinebelow</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Sacutedotaccent</string>
		<string>Scaron</string>
		<string>Scarondotaccent</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Sdotaccent</string>
		<string>Sdotbelow</string>
		<string>Sdotbelowdotaccent</string>
		<string>uni1E9E</string>
		<string>Schwa</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>uni021A</string>
		<string>Tdotbelow</string>
		<string>Tlinebelow</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucaron</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udieresisacute</string>
		<string>Udieresiscaron</string>
		<string>Udieresisgrave</string>
		<string>Udieresismacron</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Umacrondieresis</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Utildeacute</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotaccent</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>Zdotbelow</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>abreveacute</string>
		<string>abrevedotbelow</string>
		<string>abrevegrave</string>
		<string>abrevehookabove</string>
		<string>abrevetilde</string>
		<string>acaron</string>
		<string>acircumflex</string>
		<string>acircumflexacute</string>
		<string>acircumflexdotbelow</string>
		<string>acircumflexgrave</string>
		<string>acircumflexhookabove</string>
		<string>acircumflextilde</string>
		<string>adblgrave</string>
		<string>adieresis</string>
		<string>adotbelow</string>
		<string>agrave</string>
		<string>ahookabove</string>
		<string>ainvertedbreve</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>aringacute</string>
		<string>atilde</string>
		<string>ae</string>
		<string>aeacute</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccedillaacute</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>ddotbelow</string>
		<string>dlinebelow</string>
		<string>dzcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ebreve</string>
		<string>ecaron</string>
		<string>ecedillabreve</string>
		<string>ecircumflex</string>
		<string>ecircumflexacute</string>
		<string>ecircumflexdotbelow</string>
		<string>ecircumflexgrave</string>
		<string>ecircumflexhookabove</string>
		<string>ecircumflextilde</string>
		<string>edblgrave</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>edotbelow</string>
		<string>egrave</string>
		<string>ehookabove</string>
		<string>einvertedbreve</string>
		<string>emacron</string>
		<string>emacronacute</string>
		<string>emacrongrave</string>
		<string>eogonek</string>
		<string>etilde</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>gcaron</string>
		<string>gcircumflex</string>
		<string>gcommaaccent</string>
		<string>gdotaccent</string>
		<string>gmacron</string>
		<string>h</string>
		<string>hbar</string>
		<string>hbrevebelow</string>
		<string>hcircumflex</string>
		<string>hdotbelow</string>
		<string>i</string>
		<string>idotless</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>icaron</string>
		<string>icircumflex</string>
		<string>idblgrave</string>
		<string>idieresis</string>
		<string>idieresisacute</string>
		<string>i.loclTRK</string>
		<string>idotbelow</string>
		<string>igrave</string>
		<string>ihookabove</string>
		<string>iinvertedbreve</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>itilde</string>
		<string>j</string>
		<string>jdotless</string>
		<string>jcircumflex</string>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>lcommaaccent</string>
		<string>ldot</string>
		<string>ldotbelow</string>
		<string>lj</string>
		<string>llinebelow</string>
		<string>lslash</string>
		<string>m</string>
		<string>mdotbelow</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ndotaccent</string>
		<string>ndotbelow</string>
		<string>eng</string>
		<string>nj</string>
		<string>nlinebelow</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocaron</string>
		<string>ocircumflex</string>
		<string>ocircumflexacute</string>
		<string>ocircumflexdotbelow</string>
		<string>ocircumflexgrave</string>
		<string>ocircumflexhookabove</string>
		<string>ocircumflextilde</string>
		<string>odblgrave</string>
		<string>odieresis</string>
		<string>uni022B</string>
		<string>uni0231</string>
		<string>odotbelow</string>
		<string>ograve</string>
		<string>ohookabove</string>
		<string>ohorn</string>
		<string>ohornacute</string>
		<string>ohorndotbelow</string>
		<string>ohorngrave</string>
		<string>ohornhookabove</string>
		<string>ohorntilde</string>
		<string>ohungarumlaut</string>
		<string>oinvertedbreve</string>
		<string>omacron</string>
		<string>omacronacute</string>
		<string>omacrongrave</string>
		<string>oogonek</string>
		<string>oslash</string>
		<string>oslashacute</string>
		<string>otilde</string>
		<string>otildeacute</string>
		<string>otildedieresis</string>
		<string>uni022D</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>rdblgrave</string>
		<string>rdotbelow</string>
		<string>rinvertedbreve</string>
		<string>rlinebelow</string>
		<string>s</string>
		<string>sacute</string>
		<string>sacutedotaccent</string>
		<string>scaron</string>
		<string>scarondotaccent</string>
		<string>scedilla</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
		<string>sdotaccent</string>
		<string>sdotbelow</string>
		<string>sdotbelowdotaccent</string>
		<string>germandbls</string>
		<string>schwa</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>tcedilla</string>
		<string>uni021B</string>
		<string>tdieresis</string>
		<string>tdotbelow</string>
		<string>tlinebelow</string>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucaron</string>
		<string>ucircumflex</string>
		<string>udblgrave</string>
		<string>udieresis</string>
		<string>udieresisacute</string>
		<string>udieresiscaron</string>
		<string>udieresisgrave</string>
		<string>udieresismacron</string>
		<string>udotbelow</string>
		<string>ugrave</string>
		<string>uhookabove</string>
		<string>uhorn</string>
		<string>uhornacute</string>
		<string>uhorndotbelow</string>
		<string>uhorngrave</string>
		<string>uhornhookabove</string>
		<string>uhorntilde</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>umacrondieresis</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
		<string>utildeacute</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotaccent</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>zdotbelow</string>
		<string>f_f</string>
		<string>f_f_i</string>
		<string>f_f_l</string>
		<string>fi</string>
		<string>fl</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0410</string>
		<string>uni0411</string>
		<string>uni0412</string>
		<string>uni0413</string>
		<string>uni0403</string>
		<string>uni0490</string>
		<string>uni0414</string>
		<string>uni0415</string>
		<string>uni0400</string>
		<string>uni0401</string>
		<string>uni0416</string>
		<string>uni0417</string>
		<string>uni0418</string>
		<string>uni0419</string>
		<string>uni040D</string>
		<string>uni041A</string>
		<string>uni040C</string>
		<string>uni041B</string>
		<string>uni041C</string>
		<string>uni041D</string>
		<string>uni041E</string>
		<string>uni041F</string>
		<string>uni0420</string>
		<string>uni0421</string>
		<string>uni0422</string>
		<string>uni0423</string>
		<string>uni040E</string>
		<string>uni0424</string>
		<string>uni0425</string>
		<string>uni0427</string>
		<string>uni0426</string>
		<string>uni0428</string>
		<string>uni0429</string>
		<string>uni040F</string>
		<string>uni042F</string>
		<string>uni042C</string>
		<string>uni042A</string>
		<string>uni042B</string>
		<string>uni0409</string>
		<string>uni040A</string>
		<string>uni0405</string>
		<string>uni0404</string>
		<string>uni042D</string>
		<string>uni0406</string>
		<string>uni0407</string>
		<string>uni0408</string>
		<string>uni040B</string>
		<string>uni042E</string>
		<string>uni0402</string>
		<string>uni0462</string>
		<string>uni046A</string>
		<string>uni0472</string>
		<string>uni0474</string>
		<string>uni0492</string>
		<string>uni0494</string>
		<string>uni0496</string>
		<string>uni0498</string>
		<string>uni049A</string>
		<string>uni049C</string>
		<string>uni04A0</string>
		<string>uni04A2</string>
		<string>uni04AA</string>
		<string>uni04AE</string>
		<string>uni04B0</string>
		<string>uni04B2</string>
		<string>uni04B6</string>
		<string>uni04B8</string>
		<string>uni04BA</string>
		<string>uni04C0</string>
		<string>uni04C1</string>
		<string>uni04CB</string>
		<string>uni04D0</string>
		<string>uni04D2</string>
		<string>uni04D6</string>
		<string>uni04D8</string>
		<string>uni04DC</string>
		<string>uni04DE</string>
		<string>uni04E2</string>
		<string>uni04E4</string>
		<string>uni04E6</string>
		<string>uni04E8</string>
		<string>uni04EE</string>
		<string>uni04F0</string>
		<string>uni04F2</string>
		<string>uni04F4</string>
		<string>uni04F6</string>
		<string>uni04F8</string>
		<string>uni051A</string>
		<string>uni051C</string>
		<string>uni0430</string>
		<string>uni0431</string>
		<string>uni0432</string>
		<string>uni0433</string>
		<string>uni0453</string>
		<string>uni0491</string>
		<string>uni0434</string>
		<string>uni0435</string>
		<string>uni0450</string>
		<string>uni0451</string>
		<string>uni0436</string>
		<string>uni0437</string>
		<string>uni0438</string>
		<string>uni0439</string>
		<string>uni045D</string>
		<string>uni043A</string>
		<string>uni045C</string>
		<string>uni043B</string>
		<string>uni043C</string>
		<string>uni043D</string>
		<string>uni043E</string>
		<string>uni043F</string>
		<string>uni0440</string>
		<string>uni0441</string>
		<string>uni0442</string>
		<string>uni0443</string>
		<string>uni045E</string>
		<string>uni0444</string>
		<string>uni0445</string>
		<string>uni0447</string>
		<string>uni0446</string>
		<string>uni0448</string>
		<string>uni0449</string>
		<string>uni045F</string>
		<string>uni044F</string>
		<string>uni044C</string>
		<string>uni044A</string>
		<string>uni044B</string>
		<string>uni0459</string>
		<string>uni045A</string>
		<string>uni0455</string>
		<string>uni0454</string>
		<string>uni044D</string>
		<string>uni0456</string>
		<string>uni0457</string>
		<string>uni0458</string>
		<string>uni045B</string>
		<string>uni044E</string>
		<string>uni0452</string>
		<string>uni0463</string>
		<string>uni046B</string>
		<string>uni0473</string>
		<string>uni0475</string>
		<string>uni0493</string>
		<string>uni0495</string>
		<string>uni0497</string>
		<string>uni0499</string>
		<string>uni049B</string>
		<string>uni049D</string>
		<string>uni04A1</string>
		<string>uni04A3</string>
		<string>uni04AB</string>
		<string>uni04AF</string>
		<string>uni04B1</string>
		<string>uni04B3</string>
		<string>uni04B7</string>
		<string>uni04B9</string>
		<string>uni04BB</string>
		<string>uni04CF</string>
		<string>uni04C2</string>
		<string>uni04CC</string>
		<string>uni04D1</string>
		<string>uni04D3</string>
		<string>uni04D7</string>
		<string>uni04D9</string>
		<string>uni04DD</string>
		<string>uni04DF</string>
		<string>uni04E3</string>
		<string>uni04E5</string>
		<string>uni04E7</string>
		<string>uni04E9</string>
		<string>uni04EF</string>
		<string>uni04F1</string>
		<string>uni04F3</string>
		<string>uni04F5</string>
		<string>uni04F7</string>
		<string>uni04F9</string>
		<string>uni051B</string>
		<string>uni051D</string>
		<string>uni04A4</string>
		<string>uni04A5</string>
		<string>uni04D4</string>
		<string>uni04D5</string>
		<string>Alpha</string>
		<string>Beta</string>
		<string>Gamma</string>
		<string>Delta</string>
		<string>Epsilon</string>
		<string>Zeta</string>
		<string>Eta</string>
		<string>Theta</string>
		<string>Iota</string>
		<string>Kappa</string>
		<string>Lambda</string>
		<string>Mu</string>
		<string>Nu</string>
		<string>Xi</string>
		<string>Omicron</string>
		<string>Pi</string>
		<string>Rho</string>
		<string>Sigma</string>
		<string>Tau</string>
		<string>Upsilon</string>
		<string>Phi</string>
		<string>Chi</string>
		<string>Psi</string>
		<string>Omega</string>
		<string>Alphatonos</string>
		<string>Epsilontonos</string>
		<string>Etatonos</string>
		<string>Iotatonos</string>
		<string>Omicrontonos</string>
		<string>Upsilontonos</string>
		<string>Omegatonos</string>
		<string>Iotadieresis</string>
		<string>Upsilondieresis</string>
		<string>alpha</string>
		<string>beta</string>
		<string>gamma</string>
		<string>delta</string>
		<string>epsilon</string>
		<string>zeta</string>
		<string>eta</string>
		<string>theta</string>
		<string>iota</string>
		<string>kappa</string>
		<string>lambda</string>
		<string>mu</string>
		<string>nu</string>
		<string>xi</string>
		<string>omicron</string>
		<string>pi</string>
		<string>rho</string>
		<string>sigmafinal</string>
		<string>sigma</string>
		<string>tau</string>
		<string>upsilon</string>
		<string>phi</string>
		<string>chi</string>
		<string>psi</string>
		<string>omega</string>
		<string>iotatonos</string>
		<string>iotadieresis</string>
		<string>iotadieresistonos</string>
		<string>upsilontonos</string>
		<string>upsilondieresis</string>
		<string>upsilondieresistonos</string>
		<string>omicrontonos</string>
		<string>omegatonos</string>
		<string>alphatonos</string>
		<string>epsilontonos</string>
		<string>etatonos</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.lf</string>
		<string>one.lf</string>
		<string>two.lf</string>
		<string>three.lf</string>
		<string>four.lf</string>
		<string>five.lf</string>
		<string>six.lf</string>
		<string>seven.lf</string>
		<string>eight.lf</string>
		<string>nine.lf</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>six.osf</string>
		<string>seven.osf</string>
		<string>eight.osf</string>
		<string>nine.osf</string>
		<string>six.ss01</string>
		<string>nine.ss01</string>
		<string>zero.subs</string>
		<string>one.subs</string>
		<string>two.subs</string>
		<string>three.subs</string>
		<string>four.subs</string>
		<string>five.subs</string>
		<string>six.subs</string>
		<string>seven.subs</string>
		<string>eight.subs</string>
		<string>nine.subs</string>
		<string>zero.tf</string>
		<string>one.tf</string>
		<string>two.tf</string>
		<string>three.tf</string>
		<string>four.tf</string>
		<string>five.tf</string>
		<string>six.tf</string>
		<string>seven.tf</string>
		<string>eight.tf</string>
		<string>nine.tf</string>
		<string>zero.tosf</string>
		<string>one.tosf</string>
		<string>two.tosf</string>
		<string>three.tosf</string>
		<string>four.tosf</string>
		<string>five.tosf</string>
		<string>six.tosf</string>
		<string>seven.tosf</string>
		<string>eight.tosf</string>
		<string>nine.tosf</string>
		<string>zero.zero</string>
		<string>zero.lf.zero</string>
		<string>zero.osf.zero</string>
		<string>zero.tf.zero</string>
		<string>zero.tosf.zero</string>
		<string>fraction</string>
		<string>onefraction</string>
		<string>onehalf</string>
		<string>zerothird</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni2151</string>
		<string>uni2152</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>zeroinferior</string>
		<string>oneinferior</string>
		<string>twoinferior</string>
		<string>threeinferior</string>
		<string>fourinferior</string>
		<string>fiveinferior</string>
		<string>sixinferior</string>
		<string>seveninferior</string>
		<string>eightinferior</string>
		<string>nineinferior</string>
		<string>zerosuperior</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>fivesuperior</string>
		<string>sixsuperior</string>
		<string>sevensuperior</string>
		<string>eightsuperior</string>
		<string>ninesuperior</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>periodcentered.loclCAT.case</string>
		<string>periodcentered.loclCAT</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>figuredash</string>
		<string>uni2015</string>
		<string>hyphen</string>
		<string>hyphentwo</string>
		<string>uni2011</string>
		<string>softhyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>primereversed</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni2034</string>
		<string>uni27E8</string>
		<string>uni27E9</string>
		<string>uni2001</string>
		<string>uni2003</string>
		<string>uni2000</string>
		<string>enspace</string>
		<string>uni2007</string>
		<string>uni2005</string>
		<string>uni200A</string>
		<string>uni2008</string>
		<string>uni2006</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>uni2009</string>
		<string>uni2004</string>
		<string>zerowidthspace</string>
		<string>uni20B5</string>
		<string>cent</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>dollar</string>
		<string>dong</string>
		<string>Euro</string>
		<string>florin</string>
		<string>franc</string>
		<string>uni20B2</string>
		<string>hryvnia</string>
		<string>uni20AD</string>
		<string>lira</string>
		<string>uni20BA</string>
		<string>uni20A6</string>
		<string>peseta</string>
		<string>uni20B1</string>
		<string>uni20BD</string>
		<string>uni20B9</string>
		<string>sterling</string>
		<string>uni20B8</string>
		<string>uni20AE</string>
		<string>won</string>
		<string>yen</string>
		<string>Ohm</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>bulletoperator</string>
		<string>uni2052</string>
		<string>divide</string>
		<string>divisionslash</string>
		<string>emptyset</string>
		<string>equal</string>
		<string>equivalence</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>increment</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>notidentical</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>ratio</string>
		<string>summation</string>
		<string>approxequal.tf</string>
		<string>bulletoperator.tf</string>
		<string>uni2052.tf</string>
		<string>divide.tf</string>
		<string>divisionslash.tf</string>
		<string>equal.tf</string>
		<string>equivalence.tf</string>
		<string>greater.tf</string>
		<string>greaterequal.tf</string>
		<string>less.tf</string>
		<string>lessequal.tf</string>
		<string>logicalnot.tf</string>
		<string>minus.tf</string>
		<string>multiply.tf</string>
		<string>notequal.tf</string>
		<string>notidentical.tf</string>
		<string>plus.tf</string>
		<string>plusminus.tf</string>
		<string>arrowup</string>
		<string>arrowright</string>
		<string>arrowdown</string>
		<string>arrowleft</string>
		<string>blackcircle</string>
		<string>whitecircle</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>estimated</string>
		<string>uni2113</string>
		<string>uni2116</string>
		<string>asciicircum</string>
		<string>blank</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>minute</string>
		<string>second</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>acutecomb</string>
		<string>acutecomb_uni0307</string>
		<string>uni032E</string>
		<string>uni0306</string>
		<string>uni0306_acutecomb</string>
		<string>uni0306_gravecomb</string>
		<string>uni0306_hookabovecomb</string>
		<string>uni0306_tildecomb</string>
		<string>uni0311</string>
		<string>uni030C</string>
		<string>uni030C0307</string>
		<string>uni0327</string>
		<string>uni0302</string>
		<string>uni0302_acutecomb</string>
		<string>uni0302_gravecomb</string>
		<string>uni0302_hookabovecomb</string>
		<string>uni0302_tildecomb</string>
		<string>uni0326</string>
		<string>uni0312</string>
		<string>uni030F</string>
		<string>uni0324</string>
		<string>uni0308</string>
		<string>uni0308_acutecomb</string>
		<string>uni0308030C</string>
		<string>uni0308_gravecomb</string>
		<string>uni03080304</string>
		<string>uni0307</string>
		<string>uni03070304</string>
		<string>dotbelowcomb</string>
		<string>gravecomb</string>
		<string>hookabovecomb</string>
		<string>uni031B</string>
		<string>uni030B</string>
		<string>uni0331</string>
		<string>uni0304</string>
		<string>uni0304_acutecomb</string>
		<string>uni03040308</string>
		<string>uni0304_gravecomb</string>
		<string>uni0328</string>
		<string>uni030A</string>
		<string>uni030A_acutecomb</string>
		<string>uni0338</string>
		<string>uni0337</string>
		<string>uni0336</string>
		<string>uni0335</string>
		<string>tildecomb</string>
		<string>tildecomb_acutecomb</string>
		<string>tildecomb_uni0308</string>
		<string>tildecomb_uni0304</string>
		<string>uni030D</string>
		<string>uni0329</string>
		<string>uni030C.alt</string>
		<string>acutecomb.case</string>
		<string>uni0306.case</string>
		<string>uni0306_acutecomb.case</string>
		<string>uni0306_gravecomb.case</string>
		<string>uni0306_hookabovecomb.case</string>
		<string>uni0306_tildecomb.case</string>
		<string>uni0311.case</string>
		<string>uni030C.case</string>
		<string>uni0302.case</string>
		<string>uni0302_acutecomb.case</string>
		<string>uni0302_gravecomb.case</string>
		<string>uni0302_hookabovecomb.case</string>
		<string>uni0302_tildecomb.case</string>
		<string>uni030F.case</string>
		<string>uni0308.case</string>
		<string>uni0307.case</string>
		<string>gravecomb.case</string>
		<string>hookabovecomb.case</string>
		<string>uni030B.case</string>
		<string>uni0304.case</string>
		<string>uni0304.narrow.case</string>
		<string>uni030A.case</string>
		<string>uni030A_acutecomb.case</string>
		<string>uni0328.tall.case</string>
		<string>tildecomb.case</string>
		<string>acutecomb.loclVIET</string>
		<string>uni0306.loclVIET</string>
		<string>uni030C.loclVIET</string>
		<string>uni0302.loclVIET</string>
		<string>uni0308.loclVIET</string>
		<string>uni0307.loclVIET</string>
		<string>gravecomb.loclVIET</string>
		<string>hookabovecomb.loclVIET</string>
		<string>uni0304.loclVIET</string>
		<string>tildecomb.loclVIET</string>
		<string>uni0331.narrow</string>
		<string>uni0304.narrow</string>
		<string>uni0328.narrow</string>
		<string>uni0328.tall</string>
		<string>uni02BC</string>
		<string>uni02BB</string>
		<string>dblprimemod</string>
		<string>firsttonechinese</string>
		<string>fourthtonechinese</string>
		<string>primemod</string>
		<string>ringhalfleft</string>
		<string>ringhalfright</string>
		<string>secondtonechinese</string>
		<string>verticallinelowmod</string>
		<string>verticallinemod</string>
		<string>descender-cy</string>
		<string>descender-cy.case</string>
		<string>descender-cy.strait</string>
		<string>Jacute</string>
		<string>Saltillo</string>
		<string>jacute</string>
		<string>saltillo</string>
		<string>manat</string>
		<string>strokeshortcomb.case</string>
		<string>slashshortcomb.case</string>
		<string>slashlongcomb.case</string>
		<string>brevecomb-cy</string>
		<string>brevecomb-cy.case</string>
		<string>descenderreversed-cy</string>
		<string>_bar-cy</string>
		<string>_descender-cy.case.straight</string>
		<string>descenderreverse-cy.case</string>
		<string>_bottomhook</string>
		<string>_o.numero</string>
		<string>_slash.zero</string>
		<string>_typoquote</string>
		<string>_commaaccent</string>
		<string>_slash.zero.osf</string>
		<string>_currencyvstem</string>
	</array>
</dict>
</plist>
