<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.Alpha</key>
		<array>
			<string>Alpha</string>
			<string>Delta</string>
			<string>Lambda</string>
			<string>Alphatonos</string>
			<string>Alphapsili</string>
			<string>Alphadasia</string>
			<string>Alphapsilivaria</string>
			<string>Alphadasiavaria</string>
			<string>Alphapsilioxia</string>
			<string>Alphadasiaoxia</string>
			<string>Alphapsiliperispomeni</string>
			<string>Alphadasiaperispomeni</string>
			<string>Alphavaria</string>
			<string>Alphaoxia</string>
			<string>Alphavrachy</string>
			<string>Alphamacron</string>
			<string>Alphaprosgegrammeni</string>
			<string>Alphapsiliprosgegrammeni</string>
			<string>Alphadasiaprosgegrammeni</string>
			<string>Alphapsilivariaprosgegrammeni</string>
			<string>Alphadasiavariaprosgegrammeni</string>
			<string>Alphapsilioxiaprosgegrammeni</string>
			<string>Alphadasiaoxiaprosgegrammeni</string>
			<string>Alphapsiliperispomeniprosgegrammeni</string>
			<string>Alphadasiaperispomeniprosgegrammeni</string>
		</array>
		<key>public.kern1.Beta</key>
		<array>
			<string>Beta</string>
		</array>
		<key>public.kern1.Chi</key>
		<array>
			<string>Kappa</string>
			<string>Chi</string>
		</array>
		<key>public.kern1.Epsilon</key>
		<array>
			<string>Epsilon</string>
			<string>Xi</string>
			<string>Epsilontonos</string>
			<string>Epsilonpsili</string>
			<string>Epsilondasia</string>
			<string>Epsilonpsilivaria</string>
			<string>Epsilondasiavaria</string>
			<string>Epsilonpsilioxia</string>
			<string>Epsilondasiaoxia</string>
			<string>Epsilonvaria</string>
			<string>Epsilonoxia</string>
		</array>
		<key>public.kern1.Eta</key>
		<array>
			<string>Eta</string>
			<string>Iota</string>
			<string>Mu</string>
			<string>Nu</string>
			<string>Pi</string>
			<string>Etatonos</string>
			<string>Iotatonos</string>
			<string>Iotadieresis</string>
			<string>Etapsili</string>
			<string>Etadasia</string>
			<string>Etapsilivaria</string>
			<string>Etadasiavaria</string>
			<string>Etapsilioxia</string>
			<string>Etadasiaoxia</string>
			<string>Etapsiliperispomeni</string>
			<string>Etadasiaperispomeni</string>
			<string>Etavaria</string>
			<string>Etaoxia</string>
			<string>Etaprosgegrammeni</string>
			<string>Etapsiliprosgegrammeni</string>
			<string>Etadasiaprosgegrammeni</string>
			<string>Etapsilivariaprosgegrammeni</string>
			<string>Etadasiavariaprosgegrammeni</string>
			<string>Etapsilioxiaprosgegrammeni</string>
			<string>Etadasiaoxiaprosgegrammeni</string>
			<string>Etapsiliperispomeniprosgegrammeni</string>
			<string>Etadasiaperispomeniprosgegrammeni</string>
			<string>Iotapsili</string>
			<string>Iotadasia</string>
			<string>Iotapsilivaria</string>
			<string>Iotadasiavaria</string>
			<string>Iotapsilioxia</string>
			<string>Iotadasiaoxia</string>
			<string>Iotapsiliperispomeni</string>
			<string>Iotadasiaperispomeni</string>
			<string>Iotavaria</string>
			<string>Iotaoxia</string>
			<string>Iotavrachy</string>
			<string>Iotamacron</string>
		</array>
		<key>public.kern1.Omega</key>
		<array>
			<string>Omega</string>
			<string>Omegatonos</string>
			<string>Omegapsili</string>
			<string>Omegadasia</string>
			<string>Omegapsilivaria</string>
			<string>Omegadasiavaria</string>
			<string>Omegapsilioxia</string>
			<string>Omegadasiaoxia</string>
			<string>Omegapsiliperispomeni</string>
			<string>Omegadasiaperispomeni</string>
			<string>Omegavaria</string>
			<string>Omegaoxia</string>
			<string>Omegaprosgegrammeni</string>
			<string>Omegapsiliprosgegrammeni</string>
			<string>Omegadasiaprosgegrammeni</string>
			<string>Omegapsilivariaprosgegrammeni</string>
			<string>Omegadasiavariaprosgegrammeni</string>
			<string>Omegapsilioxiaprosgegrammeni</string>
			<string>Omegadasiaoxiaprosgegrammeni</string>
			<string>Omegapsiliperispomeniprosgegrammeni</string>
			<string>Omegadasiaperispomeniprosgegrammeni</string>
		</array>
		<key>public.kern1.Omicron</key>
		<array>
			<string>Theta</string>
			<string>Omicron</string>
			<string>Omicrontonos</string>
			<string>Omicronpsili</string>
			<string>Omicrondasia</string>
			<string>Omicronpsilivaria</string>
			<string>Omicrondasiavaria</string>
			<string>Omicronpsilioxia</string>
			<string>Omicrondasiaoxia</string>
			<string>Omicronvaria</string>
			<string>Omicronoxia</string>
			<string>theta</string>
		</array>
		<key>public.kern1.Phi</key>
		<array>
			<string>Phi</string>
		</array>
		<key>public.kern1.Psi</key>
		<array>
			<string>Psi</string>
		</array>
		<key>public.kern1.Rho</key>
		<array>
			<string>Rho</string>
			<string>Rhodasia</string>
		</array>
		<key>public.kern1.Tau</key>
		<array>
			<string>Gamma</string>
			<string>Tau</string>
		</array>
		<key>public.kern1.Upsilon</key>
		<array>
			<string>Upsilon</string>
			<string>Upsilontonos</string>
			<string>Upsilondieresis</string>
			<string>Upsilondasia</string>
			<string>Upsilondasiavaria</string>
			<string>Upsilondasiaoxia</string>
			<string>Upsilondasiaperispomeni</string>
			<string>Upsilonvaria</string>
			<string>Upsilonoxia</string>
			<string>Upsilonvrachy</string>
			<string>Upsilonmacron</string>
		</array>
		<key>public.kern1.Zeta</key>
		<array>
			<string>Zeta</string>
			<string>Sigma</string>
		</array>
		<key>public.kern1.acutecomb.loclVIET</key>
		<array>
			<string>acutecomb_dotaccentcomb</string>
		</array>
		<key>public.kern1.alpha</key>
		<array>
			<string>alpha</string>
			<string>alphatonos</string>
			<string>alphapsili</string>
			<string>alphadasia</string>
			<string>alphapsilivaria</string>
			<string>alphadasiavaria</string>
			<string>alphapsilioxia</string>
			<string>alphadasiaoxia</string>
			<string>alphapsiliperispomeni</string>
			<string>alphadasiaperispomeni</string>
			<string>alphavaria</string>
			<string>alphaoxia</string>
			<string>alphaperispomeni</string>
			<string>alphavrachy</string>
			<string>alphamacron</string>
			<string>alphaypogegrammeni</string>
			<string>alphavariaypogegrammeni</string>
			<string>alphaoxiaypogegrammeni</string>
			<string>alphapsiliypogegrammeni</string>
			<string>alphadasiaypogegrammeni</string>
			<string>alphapsilivariaypogegrammeni</string>
			<string>alphadasiavariaypogegrammeni</string>
			<string>alphapsilioxiaypogegrammeni</string>
			<string>alphadasiaoxiaypogegrammeni</string>
			<string>alphapsiliperispomeniypogegrammeni</string>
			<string>alphadasiaperispomeniypogegrammeni</string>
			<string>alphaperispomeniypogegrammeni</string>
		</array>
		<key>public.kern1.caroncomb.loclVIET</key>
		<array>
			<string>caroncomb_dotaccentcomb</string>
		</array>
		<key>public.kern1.chi</key>
		<array>
			<string>chi</string>
		</array>
		<key>public.kern1.dieresiscomb.loclVIET</key>
		<array>
			<string>dieresiscomb_gravecomb</string>
			<string>dieresiscomb_acutecomb</string>
			<string>dieresiscomb_caroncomb</string>
			<string>dieresiscomb_macroncomb</string>
		</array>
		<key>public.kern1.epsilon</key>
		<array>
			<string>epsilon</string>
			<string>epsilontonos</string>
			<string>epsilonpsili</string>
			<string>epsilondasia</string>
			<string>epsilonpsilivaria</string>
			<string>epsilondasiavaria</string>
			<string>epsilonpsilioxia</string>
			<string>epsilondasiaoxia</string>
			<string>epsilonvaria</string>
			<string>epsilonoxia</string>
		</array>
		<key>public.kern1.eta</key>
		<array>
			<string>eta</string>
			<string>etatonos</string>
			<string>etapsili</string>
			<string>etadasia</string>
			<string>etapsilivaria</string>
			<string>etadasiavaria</string>
			<string>etapsilioxia</string>
			<string>etadasiaoxia</string>
			<string>etapsiliperispomeni</string>
			<string>etadasiaperispomeni</string>
			<string>etavaria</string>
			<string>etaoxia</string>
			<string>etaperispomeni</string>
			<string>etaypogegrammeni</string>
			<string>etavariaypogegrammeni</string>
			<string>etaoxiaypogegrammeni</string>
			<string>etapsiliypogegrammeni</string>
			<string>etadasiaypogegrammeni</string>
			<string>etapsilivariaypogegrammeni</string>
			<string>etadasiavariaypogegrammeni</string>
			<string>etapsilioxiaypogegrammeni</string>
			<string>etadasiaoxiaypogegrammeni</string>
			<string>etapsiliperispomeniypogegrammeni</string>
			<string>etadasiaperispomeniypogegrammeni</string>
			<string>etaperispomeniypogegrammeni</string>
		</array>
		<key>public.kern1.iota</key>
		<array>
			<string>iota</string>
			<string>mu</string>
			<string>iotatonos</string>
			<string>iotadieresis</string>
			<string>iotadieresistonos</string>
			<string>iotapsili</string>
			<string>iotadasia</string>
			<string>iotapsilivaria</string>
			<string>iotadasiavaria</string>
			<string>iotapsilioxia</string>
			<string>iotadasiaoxia</string>
			<string>iotapsiliperispomeni</string>
			<string>iotadasiaperispomeni</string>
			<string>iotavaria</string>
			<string>iotaoxia</string>
			<string>iotaperispomeni</string>
			<string>iotavrachy</string>
			<string>iotamacron</string>
			<string>iotadialytikavaria</string>
			<string>iotadialytikaoxia</string>
			<string>iotadialytikaperispomeni</string>
		</array>
		<key>public.kern1.kappa</key>
		<array>
			<string>kappa</string>
			<string>kaiSymbol</string>
		</array>
		<key>public.kern1.lambda</key>
		<array>
			<string>lambda</string>
		</array>
		<key>public.kern1.macroncomb.loclVIET</key>
		<array>
			<string>macroncomb_gravecomb</string>
			<string>macroncomb_acutecomb</string>
		</array>
		<key>public.kern1.nu</key>
		<array>
			<string>gamma</string>
			<string>nu</string>
		</array>
		<key>public.kern1.omicron</key>
		<array>
			<string>beta</string>
			<string>delta</string>
			<string>omicron</string>
			<string>rho</string>
			<string>upsilon</string>
			<string>phi</string>
			<string>psi</string>
			<string>omega</string>
			<string>upsilontonos</string>
			<string>upsilondieresis</string>
			<string>upsilondieresistonos</string>
			<string>omicrontonos</string>
			<string>omegatonos</string>
			<string>omicronpsili</string>
			<string>omicrondasia</string>
			<string>omicronpsilivaria</string>
			<string>omicrondasiavaria</string>
			<string>omicronpsilioxia</string>
			<string>omicrondasiaoxia</string>
			<string>omicronvaria</string>
			<string>omicronoxia</string>
			<string>rhopsili</string>
			<string>rhodasia</string>
			<string>upsilonpsili</string>
			<string>upsilondasia</string>
			<string>upsilonpsilivaria</string>
			<string>upsilondasiavaria</string>
			<string>upsilonpsilioxia</string>
			<string>upsilondasiaoxia</string>
			<string>upsilonpsiliperispomeni</string>
			<string>upsilondasiaperispomeni</string>
			<string>upsilonvaria</string>
			<string>upsilonoxia</string>
			<string>upsilonperispomeni</string>
			<string>upsilonvrachy</string>
			<string>upsilonmacron</string>
			<string>upsilondialytikavaria</string>
			<string>upsilondialytikaoxia</string>
			<string>upsilondialytikaperispomeni</string>
			<string>omegapsili</string>
			<string>omegadasia</string>
			<string>omegapsilivaria</string>
			<string>omegadasiavaria</string>
			<string>omegapsilioxia</string>
			<string>omegadasiaoxia</string>
			<string>omegapsiliperispomeni</string>
			<string>omegadasiaperispomeni</string>
			<string>omegavaria</string>
			<string>omegaoxia</string>
			<string>omegaperispomeni</string>
			<string>omegaypogegrammeni</string>
			<string>omegavariaypogegrammeni</string>
			<string>omegaoxiaypogegrammeni</string>
			<string>omegapsiliypogegrammeni</string>
			<string>omegadasiaypogegrammeni</string>
			<string>omegapsilivariaypogegrammeni</string>
			<string>omegadasiavariaypogegrammeni</string>
			<string>omegapsilioxiaypogegrammeni</string>
			<string>omegadasiaoxiaypogegrammeni</string>
			<string>omegapsiliperispomeniypogegrammeni</string>
			<string>omegadasiaperispomeniypogegrammeni</string>
			<string>omegaperispomeniypogegrammeni</string>
		</array>
		<key>public.kern1.pi</key>
		<array>
			<string>pi</string>
		</array>
		<key>public.kern1.sigma</key>
		<array>
			<string>sigma</string>
		</array>
		<key>public.kern1.sigmafinal</key>
		<array>
			<string>sigmafinal</string>
		</array>
		<key>public.kern1.tau</key>
		<array>
			<string>tau</string>
		</array>
		<key>public.kern1.tildecomb.loclVIET</key>
		<array>
			<string>tildecomb_dieresiscomb</string>
			<string>tildecomb_acutecomb</string>
			<string>tildecomb_macroncomb</string>
		</array>
		<key>public.kern1.xi</key>
		<array>
			<string>xi</string>
		</array>
		<key>public.kern1.zeta</key>
		<array>
			<string>zeta</string>
		</array>
		<key>public.kern2.Alpha</key>
		<array>
			<string>Alpha</string>
			<string>Delta</string>
			<string>Lambda</string>
			<string>Alphavrachy</string>
			<string>Alphamacron</string>
			<string>Alphaprosgegrammeni</string>
		</array>
		<key>public.kern2.Alphapsiliperispomeni</key>
		<array>
			<string>Alphapsiliperispomeni</string>
			<string>Alphadasiaperispomeni</string>
			<string>Alphapsiliperispomeniprosgegrammeni</string>
			<string>Alphadasiaperispomeniprosgegrammeni</string>
		</array>
		<key>public.kern2.Alphapsilivaria</key>
		<array>
			<string>Alphapsilivaria</string>
			<string>Alphadasiavaria</string>
			<string>Alphapsilioxia</string>
			<string>Alphadasiaoxia</string>
			<string>Alphapsilivariaprosgegrammeni</string>
			<string>Alphadasiavariaprosgegrammeni</string>
			<string>Alphapsilioxiaprosgegrammeni</string>
			<string>Alphadasiaoxiaprosgegrammeni</string>
		</array>
		<key>public.kern2.Alphatonos</key>
		<array>
			<string>Alphatonos</string>
			<string>Alphapsili</string>
			<string>Alphadasia</string>
			<string>Alphavaria</string>
			<string>Alphaoxia</string>
			<string>Alphapsiliprosgegrammeni</string>
			<string>Alphadasiaprosgegrammeni</string>
		</array>
		<key>public.kern2.Chi</key>
		<array>
			<string>Chi</string>
		</array>
		<key>public.kern2.Eta</key>
		<array>
			<string>Beta</string>
			<string>Gamma</string>
			<string>Epsilon</string>
			<string>Eta</string>
			<string>Iota</string>
			<string>Kappa</string>
			<string>Mu</string>
			<string>Nu</string>
			<string>Pi</string>
			<string>Rho</string>
			<string>Iotadieresis</string>
			<string>Etaprosgegrammeni</string>
			<string>Iotavrachy</string>
			<string>Iotamacron</string>
		</array>
		<key>public.kern2.Etapsiliperispomeni</key>
		<array>
			<string>Etapsiliperispomeni</string>
			<string>Etadasiaperispomeni</string>
			<string>Etapsiliperispomeniprosgegrammeni</string>
			<string>Etadasiaperispomeniprosgegrammeni</string>
			<string>Iotapsiliperispomeni</string>
			<string>Iotadasiaperispomeni</string>
		</array>
		<key>public.kern2.Etapsilivaria</key>
		<array>
			<string>Epsilonpsilivaria</string>
			<string>Epsilondasiavaria</string>
			<string>Epsilonpsilioxia</string>
			<string>Epsilondasiaoxia</string>
			<string>Etapsilivaria</string>
			<string>Etadasiavaria</string>
			<string>Etapsilioxia</string>
			<string>Etadasiaoxia</string>
			<string>Etapsilivariaprosgegrammeni</string>
			<string>Etadasiavariaprosgegrammeni</string>
			<string>Etapsilioxiaprosgegrammeni</string>
			<string>Etadasiaoxiaprosgegrammeni</string>
			<string>Iotapsilivaria</string>
			<string>Iotadasiavaria</string>
			<string>Iotapsilioxia</string>
			<string>Iotadasiaoxia</string>
		</array>
		<key>public.kern2.Etatonos</key>
		<array>
			<string>Epsilontonos</string>
			<string>Etatonos</string>
			<string>Iotatonos</string>
			<string>Epsilonpsili</string>
			<string>Epsilondasia</string>
			<string>Epsilonvaria</string>
			<string>Epsilonoxia</string>
			<string>Etapsili</string>
			<string>Etadasia</string>
			<string>Etavaria</string>
			<string>Etaoxia</string>
			<string>Etapsiliprosgegrammeni</string>
			<string>Etadasiaprosgegrammeni</string>
			<string>Iotapsili</string>
			<string>Iotadasia</string>
			<string>Iotavaria</string>
			<string>Iotaoxia</string>
			<string>Rhodasia</string>
		</array>
		<key>public.kern2.Omega</key>
		<array>
			<string>Omega</string>
			<string>Omegaprosgegrammeni</string>
		</array>
		<key>public.kern2.Omegapsiliperispomeni</key>
		<array>
			<string>Omegapsiliperispomeni</string>
			<string>Omegadasiaperispomeni</string>
			<string>Omegapsiliperispomeniprosgegrammeni</string>
			<string>Omegadasiaperispomeniprosgegrammeni</string>
		</array>
		<key>public.kern2.Omicron</key>
		<array>
			<string>Theta</string>
			<string>Omicron</string>
			<string>theta</string>
		</array>
		<key>public.kern2.Omicronpsilivaria</key>
		<array>
			<string>Omicronpsilivaria</string>
			<string>Omicrondasiavaria</string>
			<string>Omicronpsilioxia</string>
			<string>Omicrondasiaoxia</string>
			<string>Omegapsilivaria</string>
			<string>Omegadasiavaria</string>
			<string>Omegapsilioxia</string>
			<string>Omegadasiaoxia</string>
			<string>Omegapsilivariaprosgegrammeni</string>
			<string>Omegadasiavariaprosgegrammeni</string>
			<string>Omegapsilioxiaprosgegrammeni</string>
			<string>Omegadasiaoxiaprosgegrammeni</string>
		</array>
		<key>public.kern2.Omicrontonos</key>
		<array>
			<string>Omicrontonos</string>
			<string>Omegatonos</string>
			<string>Omicronpsili</string>
			<string>Omicrondasia</string>
			<string>Omicronvaria</string>
			<string>Omicronoxia</string>
			<string>Omegapsili</string>
			<string>Omegadasia</string>
			<string>Omegavaria</string>
			<string>Omegaoxia</string>
			<string>Omegapsiliprosgegrammeni</string>
			<string>Omegadasiaprosgegrammeni</string>
		</array>
		<key>public.kern2.Phi</key>
		<array>
			<string>Phi</string>
		</array>
		<key>public.kern2.Psi</key>
		<array>
			<string>Psi</string>
		</array>
		<key>public.kern2.Tau</key>
		<array>
			<string>Tau</string>
		</array>
		<key>public.kern2.Upsilon</key>
		<array>
			<string>Upsilon</string>
			<string>Upsilondieresis</string>
			<string>Upsilonvrachy</string>
			<string>Upsilonmacron</string>
		</array>
		<key>public.kern2.Upsilondasiaperispomeni</key>
		<array>
			<string>Upsilondasiaperispomeni</string>
		</array>
		<key>public.kern2.Upsilondasiavaria</key>
		<array>
			<string>Upsilondasiavaria</string>
			<string>Upsilondasiaoxia</string>
		</array>
		<key>public.kern2.Upsilontonos</key>
		<array>
			<string>Upsilontonos</string>
			<string>Upsilondasia</string>
			<string>Upsilonvaria</string>
			<string>Upsilonoxia</string>
		</array>
		<key>public.kern2.Xi</key>
		<array>
			<string>Xi</string>
		</array>
		<key>public.kern2.Zeta</key>
		<array>
			<string>Zeta</string>
			<string>Sigma</string>
		</array>
		<key>public.kern2.acutecomb.loclVIET</key>
		<array>
			<string>acutecomb_dotaccentcomb</string>
		</array>
		<key>public.kern2.beta</key>
		<array>
			<string>beta</string>
		</array>
		<key>public.kern2.caroncomb.loclVIET</key>
		<array>
			<string>caroncomb_dotaccentcomb</string>
		</array>
		<key>public.kern2.chi</key>
		<array>
			<string>chi</string>
		</array>
		<key>public.kern2.dieresiscomb.loclVIET</key>
		<array>
			<string>dieresiscomb_gravecomb</string>
			<string>dieresiscomb_acutecomb</string>
			<string>dieresiscomb_caroncomb</string>
			<string>dieresiscomb_macroncomb</string>
		</array>
		<key>public.kern2.epsilon</key>
		<array>
			<string>epsilon</string>
			<string>epsilontonos</string>
			<string>epsilonpsili</string>
			<string>epsilondasia</string>
			<string>epsilonpsilivaria</string>
			<string>epsilondasiavaria</string>
			<string>epsilonpsilioxia</string>
			<string>epsilondasiaoxia</string>
			<string>epsilonvaria</string>
			<string>epsilonoxia</string>
		</array>
		<key>public.kern2.eta</key>
		<array>
			<string>eta</string>
			<string>kappa</string>
			<string>mu</string>
			<string>etatonos</string>
			<string>kaiSymbol</string>
			<string>etapsili</string>
			<string>etadasia</string>
			<string>etapsilivaria</string>
			<string>etadasiavaria</string>
			<string>etapsilioxia</string>
			<string>etadasiaoxia</string>
			<string>etapsiliperispomeni</string>
			<string>etadasiaperispomeni</string>
			<string>etavaria</string>
			<string>etaoxia</string>
			<string>etaperispomeni</string>
			<string>etaypogegrammeni</string>
			<string>etavariaypogegrammeni</string>
			<string>etaoxiaypogegrammeni</string>
			<string>etapsiliypogegrammeni</string>
			<string>etadasiaypogegrammeni</string>
			<string>etapsilivariaypogegrammeni</string>
			<string>etadasiavariaypogegrammeni</string>
			<string>etapsilioxiaypogegrammeni</string>
			<string>etadasiaoxiaypogegrammeni</string>
			<string>etapsiliperispomeniypogegrammeni</string>
			<string>etadasiaperispomeniypogegrammeni</string>
			<string>etaperispomeniypogegrammeni</string>
		</array>
		<key>public.kern2.iota</key>
		<array>
			<string>iota</string>
			<string>upsilon</string>
			<string>psi</string>
			<string>iotatonos</string>
			<string>upsilontonos</string>
			<string>iotapsili</string>
			<string>iotadasia</string>
			<string>iotapsilivaria</string>
			<string>iotadasiavaria</string>
			<string>iotapsilioxia</string>
			<string>iotadasiaoxia</string>
			<string>iotapsiliperispomeni</string>
			<string>iotadasiaperispomeni</string>
			<string>iotavaria</string>
			<string>iotaoxia</string>
			<string>iotaperispomeni</string>
			<string>iotavrachy</string>
			<string>iotamacron</string>
			<string>iotadialytikavaria</string>
			<string>iotadialytikaoxia</string>
			<string>iotadialytikaperispomeni</string>
			<string>upsilonpsili</string>
			<string>upsilondasia</string>
			<string>upsilonpsilivaria</string>
			<string>upsilondasiavaria</string>
			<string>upsilonpsilioxia</string>
			<string>upsilondasiaoxia</string>
			<string>upsilonpsiliperispomeni</string>
			<string>upsilondasiaperispomeni</string>
			<string>upsilonvaria</string>
			<string>upsilonoxia</string>
			<string>upsilonperispomeni</string>
			<string>upsilonvrachy</string>
			<string>upsilonmacron</string>
			<string>upsilondialytikavaria</string>
			<string>upsilondialytikaoxia</string>
			<string>upsilondialytikaperispomeni</string>
		</array>
		<key>public.kern2.iotatadieresis</key>
		<array>
			<string>iotadieresis</string>
			<string>iotadieresistonos</string>
		</array>
		<key>public.kern2.lambda</key>
		<array>
			<string>lambda</string>
		</array>
		<key>public.kern2.macroncomb.loclVIET</key>
		<array>
			<string>macroncomb_gravecomb</string>
			<string>macroncomb_acutecomb</string>
		</array>
		<key>public.kern2.nu</key>
		<array>
			<string>gamma</string>
			<string>nu</string>
		</array>
		<key>public.kern2.omicron</key>
		<array>
			<string>alpha</string>
			<string>delta</string>
			<string>zeta</string>
			<string>xi</string>
			<string>omicron</string>
			<string>sigmafinal</string>
			<string>sigma</string>
			<string>phi</string>
			<string>omega</string>
			<string>omicrontonos</string>
			<string>omegatonos</string>
			<string>alphatonos</string>
			<string>alphapsili</string>
			<string>alphadasia</string>
			<string>alphapsilivaria</string>
			<string>alphadasiavaria</string>
			<string>alphapsilioxia</string>
			<string>alphadasiaoxia</string>
			<string>alphapsiliperispomeni</string>
			<string>alphadasiaperispomeni</string>
			<string>alphavaria</string>
			<string>alphaoxia</string>
			<string>alphaperispomeni</string>
			<string>alphavrachy</string>
			<string>alphamacron</string>
			<string>alphaypogegrammeni</string>
			<string>alphavariaypogegrammeni</string>
			<string>alphaoxiaypogegrammeni</string>
			<string>alphapsiliypogegrammeni</string>
			<string>alphadasiaypogegrammeni</string>
			<string>alphapsilivariaypogegrammeni</string>
			<string>alphadasiavariaypogegrammeni</string>
			<string>alphapsilioxiaypogegrammeni</string>
			<string>alphadasiaoxiaypogegrammeni</string>
			<string>alphapsiliperispomeniypogegrammeni</string>
			<string>alphadasiaperispomeniypogegrammeni</string>
			<string>alphaperispomeniypogegrammeni</string>
			<string>omicronpsili</string>
			<string>omicrondasia</string>
			<string>omicronpsilivaria</string>
			<string>omicrondasiavaria</string>
			<string>omicronpsilioxia</string>
			<string>omicrondasiaoxia</string>
			<string>omicronvaria</string>
			<string>omicronoxia</string>
			<string>omegapsili</string>
			<string>omegadasia</string>
			<string>omegapsilivaria</string>
			<string>omegadasiavaria</string>
			<string>omegapsilioxia</string>
			<string>omegadasiaoxia</string>
			<string>omegapsiliperispomeni</string>
			<string>omegadasiaperispomeni</string>
			<string>omegavaria</string>
			<string>omegaoxia</string>
			<string>omegaperispomeni</string>
			<string>omegaypogegrammeni</string>
			<string>omegavariaypogegrammeni</string>
			<string>omegaoxiaypogegrammeni</string>
			<string>omegapsiliypogegrammeni</string>
			<string>omegadasiaypogegrammeni</string>
			<string>omegapsilivariaypogegrammeni</string>
			<string>omegadasiavariaypogegrammeni</string>
			<string>omegapsilioxiaypogegrammeni</string>
			<string>omegadasiaoxiaypogegrammeni</string>
			<string>omegapsiliperispomeniypogegrammeni</string>
			<string>omegadasiaperispomeniypogegrammeni</string>
			<string>omegaperispomeniypogegrammeni</string>
		</array>
		<key>public.kern2.pi</key>
		<array>
			<string>pi</string>
		</array>
		<key>public.kern2.rho</key>
		<array>
			<string>rho</string>
			<string>rhopsili</string>
			<string>rhodasia</string>
		</array>
		<key>public.kern2.tau</key>
		<array>
			<string>tau</string>
		</array>
		<key>public.kern2.tildecomb.loclVIET</key>
		<array>
			<string>tildecomb_dieresiscomb</string>
			<string>tildecomb_acutecomb</string>
			<string>tildecomb_macroncomb</string>
		</array>
		<key>public.kern2.upsilondieresis</key>
		<array>
			<string>upsilondieresis</string>
			<string>upsilondieresistonos</string>
		</array>
	</dict>
</plist>
